@use "global" as *;


.l-management-policy {
  margin-top: rem(30);

  @media screen and (min-width: 376px) and (max-width: 391px) {
    margin-top: rem(-30);
  }

  @media screen and (min-width: 392px) and (max-width: 466px) {
    margin-top: 0;
  }
}
