@use "global" as *;


.anchors {

}

.anchors__inner {

}

.anchors__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.anchors__item {
  display: inline-block;
  color: $color-font-base-2;
  font-size: rem(16);
  padding-inline: rem(30);
  padding-block: rem(3);
  border-left: 1px solid #b6bcc8;
}

.anchors__item:last-of-type {
  border-right: 1px solid #b6bcc8;
}

.anchors__item:hover {  // hover
  opacity: 0.6;
}
