@use "global" as *;


.asset {
  padding-bottom: rem(100);
  display: none;  // 今だけ指定

  @include mq(md) {
    padding-bottom: rem(65);
  }
}

.asset__inner {
  @include mq(md) {
    max-width: rem(600);
  }
}

.asset__title {

}

.asset__message {
  margin-top: rem(40);
  font-size: rem(17);
  color: $color-font-base-1;
  font-weight: $normal;
  line-height: 2.0;

  @include mq(md) {
    margin-top: rem(25);
    font-size: rem(14);
    line-height: 1.75;
  }
}

.asset__contents {
  margin-top: rem(34);
  position: relative;

  @include mq(md) {
    margin-top: rem(30);
  }
}

.asset__contents::after {  // 中身のグレーの棒線
  content: "";
  width: rem(60);
  height: 90%;
  background-color: #a9aebb;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;

  @include mq(md) {
    width: rem(40);
  }
}

.asset__contents__item {

}

.asset__contents__item:nth-of-type(n + 2) {
  margin-top: rem(60);

  @include mq(md) {
    margin-top: rem(30);
  }
}

.asset__attention-text {
  margin-top: rem(40);
  color: $color-font-base-1;
  font-size: rem(17);
  font-weight: $normal;
  line-height: 2;

  @include mq(md) {
    margin-top: rem(35);
    font-size: rem(14);
    line-height: 1.5;
  }
}
