@use "global" as *;


.btn3 {
  display: inline-block;
  text-align: center;
  border-radius: rem(20) 0 rem(20) 0;
  padding-top: rem(15);
  padding-bottom: rem(15);
  padding-inline: rem(15);  // 最低限を指定
  background: #fcbc2d;
  font-size: rem(17);
  font-weight: $medium;
  color: $color-white;
  transition: opacity 0.2s ease-out;
}

.btn3:hover {  // hover
  opacity: 0.7;
}
