@use "global" as *;


.category {
  text-align: center;
  font-size: rem(13);
  font-weight: $medium;
  color: $color-white;
  background: #778090;
  padding-block: rem(4);
  padding-inline: rem(4);
  border-radius: rem(13);

  @include mq(md) {
    font-size: rem(11);
    padding-block: rem(3);
    padding-inline: rem(3);
  }
}
