@use "global" as *;


.content2 {
  display: block;
  padding: 0;  // buttonタグにデフォルトで当たるpaddingをリセット
  position: relative;
  overflow: hidden;
  cursor: default;  // ボタンのhover時のカーソルをポインターにしないように指定。(PC時は押しても意味ないから。)
}

.content2:hover .content2__overlay {  // hover
  transform: translateY(0);

  @include mq(md) {
    transform: translateY(100%);
  }
}

.content2.is-active .content2__overlay {  // SP時は、『.content2』をクリックした際に『.content2__overlay』が表示される仕様に。(JSで制御)
  @include mq(md) {
    transform: translateY(0); // オーバーレイを表示
  }
}

.content2__bg {
  aspect-ratio: 387 / 256;
  max-width: rem(387);
  width: 100%;
  object-fit: cover;
}

.content2__bg img {
  aspect-ratio: 387 / 256;
  max-width: rem(387);
  width: 100%;
  object-fit: cover;
}



// hover時のオーバーレイ部分
.content2__overlay {
  padding-top: rem(45);
  padding-inline: rem(32);
  padding-bottom: rem(25);  // 最低限を念の為指定

  position: absolute;
  inset: 0;

  transform: translateY(100%);  // デフォルトでは下に隠れいている。
  transition: transform 0.3s ease-out;

  @include mq(md) {
    padding-top: rem(10);
    padding-inline: rem(8);
    padding-bottom: rem(8);
  }
}

.content2__overlay-bg {
  background: #222529;
  opacity: 0.7;
  position: absolute;
  inset: 0;
  object-fit: cover;
  z-index: 1;
}

.content2__overlay-category {
  text-align: center;
  padding-block: rem(8);
  padding-inline: rem(8);  // 念の為に指定
  min-width: rem(250);
  width: fit-content;
  margin-inline: auto;
  background: #000;
  background: rgba(0, 0, 0, 1);
  color: $color-white;
  font-size: rem(16);
  font-weight: $medium;
  position: relative;
  z-index: 10;

  @include mq(md) {
    min-width: auto;
    padding-block: rem(2);
    padding-inline: rem(4);
    font-size: rem(10);
  }
}

.content2__overlay-text {
  text-align: left;
  margin-top: rem(30);
  color: $color-white;
  font-size: rem(16);
  font-weight: $normal;
  position: relative;
  z-index: 10;

  @include mq(md) {
    margin-top: rem(4);
    font-size: rem(9);
  }
}

.content2__overlay-btn {
  position: relative;
  z-index: 10;

  margin-top: rem(20);
  width: fit-content;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(10);
  transition: opacity 0.2s ease-out;

  font-size: rem(16);
  color: #e6f1f7;
  font-weight: $bold;

  @include mq(md) {
    margin-top: rem(4);
    font-size: rem(10);
  }
}

.content2__overlay-btn:hover {  // hover
  opacity: 0.4;
}

.content2__overlay-btn-text {

}

.content2__overlay-btn-arrow {

}
