@use "global" as *;


.contact-page {

}

.contact-page__inner {

}

.contact-page__wrap {

}


.contact-page__form-section-wrap {
  padding-bottom: rem(110);

  @include mq(md) {
    padding-bottom: rem(65);
  }
}

.contact-page__form-title {

}

.contact-page__form-wrap {
  margin-top: rem(22);
  border: 1px solid #adb0b1;
  padding-top: rem(48);
  padding-bottom: rem(50);
  padding-inline: rem(50);

  @include mq(md) {
    padding-top: rem(30);
    padding-bottom: rem(40);
    padding-inline: rem(15);
  }
}

.contact-page__form {

}





// ========================================
// 『送信完了画面』のテキスト
.contact-page__complete-text {
  font-size: rem(17);
  font-weight: $normal;
  color: $color-font-base-1;
  line-height: 2.0;

  @include mq(md) {
    font-size: rem(14);
    line-height: 1.75;
  }
}

.contact-page__complete-btn-wrap {
  margin-top: rem(45);

  @include mq(md) {
    margin-top: rem(25);
  }
}

.contact-page__complete-btn {
  font-size: rem(17);
  font-weight: $medium;
  color: $color-accent2;
  transition: opacity 0.2s ease-out;

  @include mq(md) {
    font-size: rem(14);
  }
}

.contact-page__complete-btn:hover {
  opacity: 0.4;
}


// ========================================
/* 『確認画面』を非表示 */
// 『完了画面』は、JSで『ページ遷移』させて表示する事にしたため、消してはいけない。
.contact-page__confirm-area {
  display: none;
}

/* WordPressデフォルトの「サンクスメッセージ」を非表示 */
.wpcf7-response-output{
  display: none;
}
