@use "global" as *;


.content6 {

}

.content6__title {

}

.content6__text {
  margin-top: rem(18);
  color: $color-font-base-1;
  font-size: rem(17);
  font-weight: $normal;
  line-height: 2;

  @include mq(md) {
    margin-top: rem(15);
    font-size: rem(14);
    line-height: 1.7;
  }
}
