@use "global" as *;


.content5 {

}

.content5__warp {
  background: $color-white;
  padding-block: rem(45);
  padding-inline: rem(50);
  border: rem(15) solid #e9ecf1;

  display: flex;
  justify-content: space-between;
  // align-items: center;
  align-items: stretch; // 子要素を親要素の高さに合わせる
  // gap: rem(110);

  @include mq(md) {
    padding-block: rem(20);
    padding-inline: rem(15);
    border: rem(8) solid #e9ecf1;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.content5__left {
  width: 50%;
  display: flex;
  align-items: center;

  @include mq(md) {
    width: 100%;
  }
}

.content5__left-wrap {
}

.content5__title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: rem(8);
  line-height: 1.0;
}

.content5__title-number {
  font-family: $font-family-en-2;
  color: $color-font-base-2;
  font-size: rem(62);
  font-weight: $medium;

  @include mq(md) {
    font-size: rem(34);
  }
}

.content5__title-text {
  margin-bottom: rem(12);
  color: $color-font-base-2;
  font-size: rem(30);
  font-weight: $semiBold;

  @include mq(md) {
    margin-bottom: rem(5);
    font-size: rem(20);
  }
}

.content5__text {
  margin-top: rem(32);
  color: $color-font-base-1;
  font-size: rem(17);
  font-weight: $normal;
  line-height: 2.0;

  @include mq(md) {
    margin-top: rem(10);
    font-size: rem(14);
    line-height: 1.7;
  }
}

.content5__list {
  width: 41%;
  position: relative;
  display: flex;
  align-items: center;

  @include mq(md) {
    margin-top: rem(30);
    width: 100%;
  }
}

.content5__list::before {  // 仕切り線
  content: "";
  width: 1px;
  height: 100%;
  background-color: #c7cbd3;
  position: absolute;
  top: 50%;
  left: rem(-55);
  transform: translateY(-50%);

  @include mq(md) {
    width: 100%;
    height: 1px;
    top: rem(-15);
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.content5__list-wrap {
}

.content5__list-item {

}
