@use "global" as *;


.contact {
  padding-top: rem(55);
  padding-bottom: rem(70);
  background: url(../images/common/contact-bg.webp) no-repeat center center / cover;

  @include mq(md) {
    padding-top: rem(45);
    padding-bottom: rem(50);
  }
}

.contact__inner {
  @include mq(md) {
    max-width: rem(600);
  }
}

.contact__title {

}

.contact__text {
  margin-top: rem(15);
  font-size: rem(16);
  text-align: center;

  @include mq(md) {
    font-size: rem(14);
  }
}

.contact__btn-wrap {
  margin-top: rem(22);
  width: fit-content;
  margin-inline: auto;
}

.contact__btn {
  min-width: rem(350);

  @include mq(md) {
    min-width: rem(240);
  }
}
