@use "global" as *;


.content7 {
  padding-block: rem(35);
  padding-inline: rem(42);
  border: rem(15) solid #e9ecf1;
}

.content7__wrap {

}

.content7__title {

}

.content7__body {

}

.content7__body-top {

}

.content7__images {
  margin-top: rem(32);
}

.content7__message {
  margin-top: rem(34);
  font-size: rem(17);
  line-height: 2.0;
}

.content7__body-info {
  margin-top: rem(32);
}
