@use "global" as *;


.cta {
  background: $color-background-base-1;
  padding-top: rem(45);
  padding-bottom: rem(60);

  @include mq(md) {
    padding-top: rem(35);
    padding-bottom: rem(45);
  }
}

.cta__inner {

}

.cta__wrap {

}

.cta__text {
  text-align: center;
  font-size: rem(20);
  font-weight: $medium;
  color: #2e3c52;

  @include mq(md) {
    font-size: rem(16);
  }
}

.cta__btn-wrap {
  margin-top: rem(33);
  width: fit-content;
  margin-inline: auto;

  @include mq(md) {
    margin-top: rem(25);
  }
}

.cta__btn {
  min-width: rem(315);

  @include mq(md) {
    min-width: rem(230);
  }
}
