@use "global" as *;


.form {  // <form> タグだから、ここにはCSSを指定しない事！！(WordPress化する際に、『Contact Form 7』を使う時に<form>タグは消すため)

}

// .form__error-message {  // バリデーションのエラーメッセージのスタイル調整用クラス
//   color: #C94800;
//   margin-bottom: rem(40);
//   font-size: rem(14);
//   font-weight: $normal;
//   line-height: normal;
//   width: rem(224);
//   margin-inline: auto;

//   @include mq(md) {
//     width: fit-content;
//   }
// }

.form__fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.form__sendbtn-wrap {
  margin-top: rem(40);
  width: fit-content;
  margin-inline: auto;

  @include mq(md) {
    margin-top: rem(30);
  }
}

.form__sendbtn {
  min-width: rem(315);

  @include mq(md) {
    min-width: rem(250);
  }
}




// ======================================================================
// プラグイン『Contact Form 7』のスタイル調整 (上書きなど)
// ======================================================================
.wpcf7-spinner {
  display: none !important;
}
