@use "global" as *;


.is-fixed {  // ドロワーが開いている際にスクロール出来ないようにするクラス。jsで『html,body』に付与。
  overflow: hidden;
}

.header {
  background: $color-white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3000;
  border-top: rem(16) solid $color-accent1;
  transition: border-bottom 0.3s ease; /* スムーズなアニメーション */

  @include mq(md) {
    border-top: rem(10) solid $color-accent1;
  }
}

.header.scrolled {  // スクロールされた時に、ヘッダーの下部にボーダーを追加
  border-bottom: 1px solid #d1cfcf;
}

.header__inner {
  max-width: rem(1480);  // (1400 + 40 * 2)
  margin-inline: auto;
  height: rem(100);
  padding-inline: rem(40);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq(md) {
    height: rem(67);
    padding-inline: rem(10);
  }
}

.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(15);

  @include mq(md) {
    gap: rem(5);
  }
}

.header__logo {
  transition: opacity 0.2s ease-out;
}

.header__logo:hover {
  opacity: 0.4;
}

.header__logo img {
  width: rem(144);

  @include mq(md) {
    width: rem(100);
  }
}

.header__title-text {
  font-family: $font-family-en-2;
  font-size: rem(14);
  transition: opacity 0.2s ease-out;

  @include mq(md) {
    font-size: rem(8);
    white-space: nowrap;
  }
}

.header__title-text:hover {
  opacity: 0.4;
}

.header__nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(40);

  @include mq(xl) {
    gap: rem(30);
  }

  @include mq(lg) {
    gap: rem(25);
  }

  @include mq(md) {
    display: none;
  }
}

.header__nav-item {
  height: 100%;
  position: relative;
  display: grid;
  place-items: center;
}

.header__link {
  height: 100%;
  font-family: $font-family-en-2;
  font-size: rem(17);
  font-weight: $medium;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.2s ease-out;
}

.header__link:hover {  // hover
  color: $color-accent3;
}

.header__link-contact {
  font-family: $font-family-en-2;
  font-size: rem(17);
  font-weight: $medium;

  background: $color-accent2;
  color: $color-white;
  padding-block: rem(6);
  padding-inline: rem(12);
  border-radius: rem(20) 0 rem(20) 0;
  transition: opacity 0.2s ease-out;
}

.header__link-contact:hover {  // hover
  opacity: 0.4;
}


.header__btn {
  display: none;

  @include mq(md) {
    display: block;
    width: rem(36);
    height: rem(32);
    position: relative;
    z-index: 100;
    transition: width 0.3s ease-out;
  }
}

.header__btn.is-clicked {
  width: rem(40);
}

.header__btn.is-clicked .header__bar:nth-of-type(1),
.header__btn.is-clicked .header__bar:nth-of-type(3) {
  top: rem(13);
}

.header__btn.is-clicked .header__bar:nth-of-type(1) {
  transform: rotate(45deg);
}

.header__btn.is-clicked .header__bar:nth-of-type(2) {
  opacity: 0;
}

.header__btn.is-clicked .header__bar:nth-of-type(3) {
  transform: rotate(-45deg);
}


.header__bar {
  display: inline-block;
  width: 100%;
  height: rem(6);
  border-radius: rem(6);
  background: #417ec0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.3s ease-out, top 0.3s ease-out, opacity 0.2s ease-out;
}

.header__bar:nth-of-type(2) {
  top: rem(13);
}

.header__bar:nth-of-type(3) {
  top: rem(26);
}

.header__sub-menu {

}
