@use "global" as *;


.info {

}

.info__title {
  font-size: rem(18);
  font-weight: $semiBold;
  color: $color-font-base-2;
  position: relative;
  padding-left: rem(20);
  line-height: 1.2;
}

.info__title::before {  // 青い横線
  content: "";
  width: rem(5);
  height: 100%;
  background-color: $color-accent1;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.info__list {
  margin-top: rem(18);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: rem(5);
}

.info__list-item {
  padding-left: rem(20);
  position: relative;
}

.info__list-item::before {  // リストアイテム前の『・』
  content: "・";
  font-size: rem(17);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.info__list-item-link {
  color: #2079df;
  text-decoration: underline;
  transition: opacity 0.2s ease-out;
}

.info__list-item-link:hover {
  opacity: 0.4;
}
