@use "global" as *;


.list-item {
  font-size: rem(17);
  font-weight: $normal;
  color: #1e1e1e;
  text-align: left;
  line-height: 1.75;
  padding-left: rem(25);  // リストの前の『▶︎』アイコンを配置するスペースを考慮
  position: relative;

  @include mq(md) {
    font-size: rem(14);
    line-height: 1.7;
    padding-left: rem(20);
  }
}

.list-item::before {  // リストの前の『▶︎』アイコン
  content: '▶︎';
  color: #569adf;
  position: absolute;
  top: rem(0);
  left: 0;
}




// =======================================
// モディファイア
// =======================================
// list-item--2 (タブ切り替えページのアセットマネジメントの部分)
.list-item.list-item--2 {
  line-height: 2.0;

  @include mq(md) {
    font-size: rem(13);
    padding-left: rem(18);
  }
}

.list-item.list-item--2::before {  // リストの前の『▶︎』アイコン
  font-size: rem(14);
  top: rem(3);

  @include mq(md) {
    font-size: rem(10);
    top: rem(2);
  }
}
