@use "global" as *;


.main-member {

}

.main-member__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: rem(14);
  position: relative;

  @include mq(md) {
    flex-direction: column;
    justify-content: center;
    gap: rem(8);
    padding-bottom: rem(8);
  }
}

.main-member__info::after {  // 下線 (青からグレーに変わる)
  content: ''; // 擬似要素の内容は空
  display: block;
  width: 100%;
  height: rem(4);
  background: linear-gradient(
    to right,
    $color-accent2 27.5%,
    #dbe0e6 27.5%
  );
  position: absolute;
  bottom: 0;
  left: 0;

  @include mq(md) {
    height: rem(3);
    background: linear-gradient(
      to right,
      $color-accent2 18%,
      #dbe0e6 18%
    );
  }
}

.main-member__title {
  width: 27.5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: rem(16);

  @include mq(md) {
    width: 100%;
  }
}

.main-member__role {
  font-size: rem(20);
  font-weight: $semiBold;
  color: $color-font-base-2;

  @include mq(md) {
    font-size: rem(16);
  }
}

.main-member__name {
  font-size: rem(20);
  font-weight: $semiBold;
  color: $color-font-base-2;

  @include mq(md) {
    font-size: rem(16);
  }
}

.main-member__license {
  width: 72.5%;
  text-align: left;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: rem(1);

  @include mq(md) {
    width: 100%;
    justify-content: flex-start;
    gap: 0;
  }
}

.main-member__license-title {
  font-size: rem(16);
  font-weight: $semiBold;
  color: #1f3851;

  @include mq(md) {
    font-size: rem(14);
    flex-shrink: 0;
  }
}

.main-member__license-items {
  font-size: rem(16);
  font-weight: $normal;
  color: #1f3851;

  @include mq(md) {
    font-size: rem(14);
  }
}

.main-member__table {

}
