@use "global" as *;


.management-policy {
  position: relative;
  z-index: 10;
  overflow: hidden;  // アニメーションが左右から出るため、それによる横スクロールを防ぐ
}

.management-policy__inner {

  @include mq(md) {
    max-width: rem(600);
  }
}

.management-policy__title {

}

.management-policy__contents {
  margin-top: rem(60);

  @include mq(md) {
    margin-top: rem(30);
  }
}

.management-policy__content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: rem(55);

  @include mq(md) {
    flex-direction: column;
    align-items: flex-start;
    gap: rem(20);
  }
}

.management-policy__content:nth-of-type(n + 2) {
  margin-top: rem(80);

  @include mq(md) {
    margin-top: rem(35);
  }
}

.management-policy__contents .management-policy__content:nth-child(even) {
  flex-direction: row-reverse;

  @include mq(md) {
    flex-direction: column;
  }
}

.management-policy__content-title-sp {
  display: none;

  @include mq(md) {
    display: block;
    font-size: rem(18);
    line-height: 1.67;
    font-weight: $semiBold;
    color: $color-font-base-1;
  }
}

.management-policy__content-img {
  aspect-ratio: 572 / 370;
  max-width: rem(572);
  width: 100%;
  object-fit: cover;
}

.management-policy__content-img img {
  aspect-ratio: 572 / 370;
  max-width: rem(572);
  width: 100%;
  object-fit: cover;
}

.management-policy__content-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  justify-content: flex-end;
  align-items: flex-start;
  // gap: rem(15);

  aspect-ratio: 572 / 370;
  max-width: rem(572);
  width: 100%;

  @include mq(md) {
    height: auto;
    aspect-ratio: auto;
    max-width: none;
  }
}

.management-policy__content-title {
  font-size: rem(24);
  font-weight: $bold;
  color: $color-font-base-2;
  white-space: nowrap;
}

.management-policy__content-text {
  margin-bottom: auto;
  margin-top: rem(16);
  font-size: rem(18);
  font-weight: $normal;
  color: $color-font-base-1;
  line-height: 1.88;

  @include mq(md) {
    margin-bottom: 0;
    margin-top: 0;
    font-size: rem(16);
    line-height: 1.8;
  }
}

.management-policy__content-btn {
  align-self: flex-end;

  @include mq(md) {
    margin-top: rem(10);
  }
}

.management-policy__content-icon {
  aspect-ratio: 572 / 202;
  max-width: rem(572);
  width: 100%;
  object-fit: cover;

  @include mq(md) {
    display: none;
  }
}

.management-policy__content-icon img {
  aspect-ratio: 572 / 202;
  max-width: rem(572);
  width: 100%;
  object-fit: cover;
}
