@use "global" as *;


.member {
  padding-bottom: rem(90);

  @include mq(md) {
    padding-bottom: rem(60);
  }
}

.member__inner {
  @include mq(md) {
    max-width: rem(600);
  }
}

.member__title {

}

.member__contents {
  margin-top: rem(50);

  @include mq(md) {
    margin-top: rem(30);
  }
}

.member__president {  // 社長のセクションが下に来る事はないだろうが、念の為に指定。
  margin-top: rem(50);

  @include mq(md) {
    margin-top: rem(30);
  }
}

// .member__members {
//   margin-top: rem(70);
//   padding-left: rem(25);

//   @include mq(md) {
//     margin-top: rem(55);
//     padding-left: 0;
//   }
// }

.member__member {
  margin-top: rem(70);
  padding-left: rem(25);

  @include mq(md) {
    margin-top: rem(55);
    padding-left: 0;
  }
}

.member__member:nth-of-type(n + 2) {
  margin-top: rem(70);

  @include mq(md) {
    margin-top: rem(55);
  }
}
