@use "global" as *;


.message {
  background: $color-background-base-1;
  padding-top: rem(70);
  padding-bottom: rem(78);

  @include mq(md) {
    padding-top: rem(55);
    padding-bottom: rem(50);
  }
}

.message__inner {
  @include mq(md) {
    max-width: rem(600);
  }
}

.message__title {

}

.message__contents {
  margin-top: rem(35);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: rem(55);

  @include mq(md) {
    margin-top: rem(35);
    flex-direction: column;
    gap: rem(25);
  }
}

.message__img-area {
  width: 25%;

  @include mq(md) {
    width: 100%;
  }
}

.message__img {
  aspect-ratio: 1 / 1;
  max-width: rem(300);
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;

  @include mq(md) {
    max-width: auto;
    min-width: rem(300);
    margin-inline: auto;
  }
}

.message__img img {
  aspect-ratio: 1 / 1;
  max-width: rem(300);
  width: 100%;
  object-fit: cover;
}

.message__name {
  margin-top: rem(20);
  font-size: rem(16);
  text-align: center;
}

.message__text-area {
  width: 71%;

  @include mq(md) {
    width: 100%;
  }
}

.message__text-title {
  font-size: rem(20);
  font-weight: $bold;
  color: #333333;

  @include mq(md) {
    font-size: rem(18);
  }
}

.message__text {
  margin-top: rem(30);
  font-size: rem(17);
  font-weight: $normal;
  color: #1b1b26;
  line-height: 2.0;

  @include mq(md) {
    margin-top: rem(20);
    font-size: rem(16);
    line-height: 1.7;
  }
}

.message__btn-wrap {
  margin-top: rem(35);
  width: fit-content;
  margin-inline: auto;
}

.message__btn {
  min-width: rem(315);

  @include mq(md) {
    min-width: rem(250);
  }
}
