@use "global" as *;


.news {
  padding-top: rem(60);
  padding-bottom: rem(90);

  @include mq(md) {
    padding-top: rem(55);
    padding-bottom: rem(50);
  }
}

.news__inner {
  @include mq(md) {
    max-width: rem(600);
  }
}

.news__title {

}

.news__posts {
  margin-top: rem(45);

  @include mq(md) {
    margin-top: rem(35);
  }
}

.news__btn-wrap {
  margin-top: rem(45);
  width: fit-content;
  margin-inline: auto;

  @include mq(md) {
    margin-top: rem(30);
  }
}

.news__btn {
  min-width: rem(315);

  @include mq(md) {
    min-width: rem(250);
  }
}
