@use "global" as *;


.news-page {
  padding-bottom: rem(110);

  @include mq(md) {
    padding-bottom: rem(65);
  }
}

.news-page__inner {

}

.news-page__posts {

}

.news-page__pagenavi {
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(30);
  }
}
