@use "global" as *;


.overview {
  padding-top: rem(90);
  padding-bottom: rem(110);

  @include mq(md) {
    padding-top: rem(60);
    padding-bottom: rem(80);
  }
}

.overview__inner {
  @include mq(md) {
    max-width: rem(600);
  }
}

.overview__title {

}

.overview__contents {
  margin-top: rem(35);
}

.overview__contents-item {

}

.overview__contents-item:nth-of-type(n + 2) {
  margin-top: rem(70);

  @include mq(md) {
    margin-top: rem(50);
  }
}
