@use "global" as *;


.philosophy {
  background: $color-background-base-1;
  padding-top: rem(90);
  padding-bottom: rem(100);

  @include mq(md) {
    padding-top: rem(70);
    padding-bottom: rem(70);
  }
}

.philosophy__inner {

}

.philosophy__title {

}

.philosophy__wrap {
  margin-top: rem(65);

  @include mq(md) {
    margin-top: rem(35);
  }
}

.philosophy__contents-title {
  text-align: center;
  font-size: rem(28);
  font-weight: $semiBold;
  color: #2e3e50;

  @include mq(md) {
    font-size: rem(20);
  }
}

.philosophy__contents {
  margin-top: rem(65);

  @include mq(md) {
    margin-top: rem(25);
  }
}

.philosophy__contents-item {

}

.philosophy__contents-item:nth-of-type(n + 2) {
  margin-top: rem(72);

  @include mq(md) {
    margin-top: rem(55);
  }
}
