@use "global" as *;


.post2 {

}

.post2__content {
  aspect-ratio: 387 / 256;
  max-width: rem(387);
  width: 100%;
}

.post2__categories {
  margin-top: rem(16);

  @include mq(md) {
    margin-top: rem(10);
  }
}
