@use "global" as *;


.privacy {
  padding-bottom: rem(110);

  @include mq(md) {
    padding-bottom: rem(65);
  }
}

.privacy__inner {

}

.privacy__wrap {

}

.privacy__first-text {
  font-size: rem(17);
  font-weight: $normal;
  color: $color-font-base-2;
}

.privacy__list {
  margin-top: rem(35);
}
