@use "global" as *;


.solution {
  background: $color-background-base-1;
  padding-top: rem(70);
  padding-bottom: rem(90);

  @include mq(md) {
    padding-top: rem(45);
    padding-bottom: rem(60);
  }
}

.solution__inner {
  @include mq(md) {
    max-width: rem(600);
  }
}

.solution__title {

}

.solution__text {
  margin-top: rem(24);
  text-align: center;
  font-size: rem(16);
  font-weight: $normal;
  color: $color-font-base-1;

  @include mq(md) {
    margin-top: rem(10);
    font-size: rem(14);
  }
}

.solution__contents {
  margin-top: rem(50);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: rem(20);
  align-items: flex-start;  // 上揃えに。

  @include mq(md) {
    margin-top: rem(30);
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(12);
    row-gap: rem(30);
    place-items: center;
  }
}

.solution__contents-item {
  aspect-ratio: 285 / 400;
  max-width: rem(285);
  width: 100%;

  @include mq(md) {
    aspect-ratio: 161 / 225;
    max-width: rem(161);
  }
}

.solution__btn-wrap {
  margin-top: rem(45);
  width: fit-content;
  margin-inline: auto;

  @include mq(md) {
    margin-top: rem(30);
  }
}

.solution__btn {
  min-width: rem(315);

  @include mq(md) {
    min-width: rem(250);
  }
}
