@use "global" as *;


.solicitation {
  padding-bottom: rem(110);

  @include mq(md) {
    padding-bottom: rem(65);
  }
}

.solicitation__inner {
  @include mq(md) {
    max-width: rem(600);
  }
}

.solicitation__wrap {

}

.solicitation__first-text {
  font-size: rem(17);
  font-weight: $normal;
  color: $color-font-base-2;

  @include mq(md) {
    font-size: rem(14);
    line-height: 1.7;
  }
}

.solicitation__list {
  margin-top: rem(35);

  @include mq(md) {
    margin-top: rem(25);
  }
}
