@use "global" as *;


.table {
  width: 100%;
  border-collapse: collapse;  // ※表のセルの仕切り線を無くす記述。
  background-color: #ffffff;
}

.table__head {
  display: none;
}

.table__header {
}
.table__header-body {
}

.table__row {
  border: 1px solid #adb0b1;
}

.table__cell-head {  // 項目名
  width: 18.34%;
  padding-block: rem(22);
  padding-left: rem(20);
  padding-right: rem(12);  // 最低限を指定
  background: #f1f2f5;
  font-size: rem(17);
  font-weight: $medium;

  @include mq(md) {
    width: 25%;
    padding-block: rem(15);
    padding-left: rem(10);
    padding-right: rem(6);  // 最低限を指定
    font-size: rem(14);
  }
}

.table__cell-body {  // 内容
  padding-block: rem(22);
  padding-left: rem(28);
  padding-right: rem(12);  // 最低限を指定
  font-size: rem(17);
  font-weight: $normal;
  line-height: 2.0;

  @include mq(md) {
    padding-block: rem(15);
    padding-left: rem(10);
    padding-right: rem(8);  // 最低限を指定
    font-size: rem(14);
    line-height: 1.7;
  }
}
