@use "global" as *;


.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(20);

  @include mq(md) {
    flex-direction: column;
    gap: rem(15);
  }
}

.tabs__item {

}
