@use "global" as *;


.tenant {
  padding-bottom: rem(100);

  @include mq(md) {
    padding-bottom: rem(65);
  }
}

.tenant__inner {
  @include mq(md) {
    max-width: rem(600);
  }
}

.tenant__title {

}

.tenant__message {
  margin-top: rem(35);
  color: $color-font-base-1;
  font-size: rem(17);
  font-weight: $normal;
  line-height: 2.0;

  @include mq(md) {
    margin-top: rem(25);
    font-size: rem(14);
    line-height: 1.75;
  }
}

.tenant__contents-title {
  margin-top: rem(35);

  @include mq(md) {
    margin-top: rem(30);
  }
}

.tenant__contents {
  margin-top: rem(30);

  @include mq(md) {
    margin-top: rem(25);
  }
}

.tenant__content {

}

.tenant__content:nth-of-type(n + 2) {
  margin-top: rem(45);

  @include mq(md) {
    margin-top: rem(35);
  }
}
