@use "global" as *;


.title {
  text-align: center;
}

.title__ja {
  color: #202020;
  font-size: rem(50);
  font-weight: $semiBold;
  letter-spacing: 0.28em;
  text-indent: 0.28em;
  position: relative;
  z-index: 30;

  @include mq(md) {
    font-size: rem(28);
  }
}

.title__en {
  margin-top: rem(-38);  // 日本語文字に重なるように、上に移動
  color: #99a0a8;
  opacity: 0.4;
  font-family: $font-family-en-1;
  font-size: rem(80);
  font-weight: $bold;
  line-height: 1.0;
  letter-spacing: 0.01em;
  text-indent: 0.01em;
  position: relative;
  z-index: 10;

  @include mq(md) {
    margin-top: rem(-20);
    font-size: rem(32);
  }
}



.title__ja.is-narrow {  // letter-spacingが狭い場合に付与するクラス
  letter-spacing: 0.02em;
  text-indent: 0.02em;
}




// =======================================
// モディファイア
// =======================================
// title--2 (個人情報保護方針などのページの、英語のタイトルがないページ用)
.title--2 {

}

.title--2 .title__en {
  display: none;
}
