@use "global" as *;


.title03 {
  font-size: rem(22);
  font-weight: $semiBold;
  color: $color-font-base-2;
  position: relative;
  padding-left: rem(15);  // 青い横線を配置するスペースを確保

  @include mq(md) {
    font-size: rem(18);
  }
}

.title03::before {
  content: "";
  width: rem(5);
  height: 100%;
  background-color: $color-accent1;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}




// =======================================
// モディファイア
// =======================================
// title03--2 (タイトルの色が少し違う。会社案内ページの)
.title03.title03--2 {
  color: #222222;
}
