@use "global" as *;


.top-text {
  padding-top: rem(65);
  padding-bottom: rem(160);
  // background: url(../images/common/top-text-bg-arrow.webp) no-repeat center center / cover;
  position: relative;
  overflow: hidden;

  z-index: -1;

  @include mq(xs) {
    padding-bottom: rem(25);
  }

  @include mq(md) {
    padding-top: rem(25);
    padding-bottom: rem(76);
  }
}

.top-text__bg {  // 背景画像の三角形
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  // z-index: -1;

  width: 3000px;
  height: rem(390);

  // max-width: 1700px;
  margin-inline: auto;

  clip-path: polygon(50% 100%, 0 0, 100% 0);
  max-height: rem(390);
  background: #f4f6fa;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.top-text__bg img {  // 背景画像の三角形：画像ではなく『background』で実装する事にしたため、非表示に。一応コードは残している。
  // width: 100%;
  // object-fit: cover;
  display: none;
}


.top-text__bg-sp {  // 背景画像の三角形 (SP時)
  display: none;

  @include mq(sm) {
    min-height: rem(250);
  }

  @include mq(md) {
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // max-height: rem(218);
    // z-index: -1;

    width: 1440px;
    height: rem(200);
    max-height: rem(210);

    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background: #f4f6fa;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}

.top-text__bg-sp img {  // 背景画像の三角形 (SP時)：画像ではなく『background』で実装する事にしたため、非表示に。一応コードは残している。
  @include mq(md) {
    display: none;

    // width: 100%;
    // object-fit: cover;
  }
}

.top-text__inner {

  @include mq(md) {
    // max-width: rem(600);
  }
}

.top-text__title {
  font-size: rem(27);
  font-weight: $bold;
  color: #2e3e50;
  text-align: center;

  @include mq(md) {
    // font-size: rem(15);
    text-align: left;
    font-size: rem(18);
    line-height: 1.67;
    font-weight: $semiBold;
  }
}

.top-text__text {
  text-align: center;
  margin-top: rem(45);
  font-size: rem(20);
  font-weight: $medium;
  color: #3d4656;
  line-height: 2.0;

  @include mq(md) {
    text-align: left;
    margin-top: rem(15);
    font-size: rem(13.5);
  }
}
