@use "global" as *;


.top-message {
  padding-bottom: rem(90);

  @include mq(md) {
    padding-bottom: rem(60);
  }
}

.top-message__inner {
  // @include mq(md) {
  //   max-width: rem(600);
  // }
}

.top-message__title {

}

.top-message__contents {
  margin-top: rem(50);

  @include mq(md) {
    margin-top: rem(40);
  }
}

.top-message__img-area {
  position: relative;
}

.top-message__img {
  display: block;
  aspect-ratio: 1200 / 493;
  max-width: rem(1200);
  width: 100%;
  object-fit: cover;

  @include mq(md) {
    aspect-ratio: 600 / 400;
    max-width: rem(600);
    margin-inline: auto;
  }
}

.top-message__img img {
  aspect-ratio: 1200 / 493;
  max-width: rem(1200);
  width: 100%;
  object-fit: cover;

  @include mq(md) {
    aspect-ratio: 600 / 400;
    max-width: rem(600);
  }
}

.top-message__img-text {
  text-align: center;
  font-size: rem(23);
  font-weight: $semiBold;
  color: #3e4955;
  position: absolute;
  top: 50%;
  right: rem(120);
  transform: translateY(-50%);

  @include mq(md) {
    font-size: rem(18);
    position: static;
    margin-top: rem(15);
    top: auto;
    right: auto;
    transform: none;
  }
}

.top-message__messages {
  margin-top: rem(50);

  @include mq(md) {
    margin-top: rem(15);
  }
}

.top-message__message {
  font-size: rem(17);
  font-weight: $normal;
  color: $color-font-base-1;
  line-height: 2.0;

  @include mq(md) {
    font-size: rem(14);
    line-height: 1.7;
  }
}

.top-message__message:nth-of-type(n + 2) {
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(15);
  }
}

.top-message__president-name {
  margin-top: rem(30);
  margin-left: auto;
  aspect-ratio: 325 / 25;
  max-width: rem(325);
  width: 100%;
  object-fit: contain;

  @include mq(md) {
    margin-top: rem(15);
    max-width: rem(200);
  }
}

.top-message__president-name img {
  aspect-ratio: 325 / 25;
  max-width: rem(325);
  width: 100%;
  object-fit: contain;

  @include mq(md) {
    max-width: rem(200);
  }
}
